* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.birds-moreinfo-container {
  /* border: 2px solid bwindow.innerWidthlue; */
  display: flex;
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 50px;
}

.bird-info-sec {
  width: 30%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  /* border: 2px solid green; */
}

.bird-info-sec .heading-sec {
  height: 25%;
  max-height: 30%;
  overflow: auto;
}
.bird-info-sec .heading-sec h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.bird-info-sec .heading-sec h2 {
  font-size: 1.5rem;
  font-family: "Edu TAS Beginner", cursive;
}

.bird-info-sec .scientific-info-sec {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.bird-info-sec .scientific-info-sec .node-sec {
  width: 15%;
}
.bird-info-sec .scientific-info-sec .biologoical-order-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.bird-info-sec .scientific-info-sec .biological-data-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.bird-info-sec .scientific-info-sec ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bird-info-sec .scientific-info-sec ul hr {
  width: 4px;
  height: 20px;
  background: green;
  border: 0;
}

.scientific-info-sec .node-sec ul li {
  /* border: 2px solid blue; */
  width: fit-content;
}

.bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.scientific-info-sec .biologoical-order-sec h2 {
  font-size: 1.2rem;
  font-weight: 900;
}
.scientific-info-sec .biological-data-sec h2 {
  font-size: 1rem;
  font-weight: 900;
}

.bird-info-sec .bird-statistics-sec {
  height: 15%;
  /* background-color: rgb(38, 174, 174); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid orange; */
}
.bird-info-sec .bird-statistics-sec .statastics-logo-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  height: 50%;
}
.bird-statistics-sec .statastics-logo-sec i {
  font-size: 2.5rem;
}
.statastics-logo-sec span:nth-child(2) {
  font-size: 2rem;
  font-weight: 900;
}

.statastics-logo-sec span:nth-child(3) {
  font-size: 1rem;
  font-weight: 500;
}
.bird-media-sec {
  align-self: center;
  width: 80%;
  height: 100%;
  position: relative;
  border-radius: 8px;
  border: 2px solid green;
}

.banner-image {
  /* border: 5px solid rgb(246, 255, 0); */
  height: 100%;
}

.banner-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.bird-media-sec .subimage-sec {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  border-radius: 8px;
  /* overflow-x: scroll; */
}

.bird-media-sec .subimage-sec .image-sec {
  width: 24%;
  position: relative;
  /* border: 2px solid blue; */
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: 1;
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec span {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  /* border: 2px solid red; */
  text-transform: capitalize;
  z-index: 2;
  border-radius: 8px;
}
.bird-info-sec .scientific-info-sec {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.bird-info-sec .scientific-info-sec .node-sec {
  width: 15%;
}
.bird-info-sec .scientific-info-sec .biologoical-order-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.bird-info-sec .scientific-info-sec .biological-data-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.bird-info-sec .scientific-info-sec ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bird-info-sec .scientific-info-sec ul hr {
  width: 4px;
  height: 20px;
  background: green;
}

.scientific-info-sec .node-sec ul li {
  /* border: 2px solid blue; */
  width: fit-content;
}

.bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.scientific-info-sec .biologoical-order-sec h2 {
  font-size: 1.2rem;
  font-weight: 900;
}
.scientific-info-sec .biological-data-sec h2 {
  font-size: 1rem;
  font-weight: 900;
}

.bird-media-sec .subimage-sec .image-sec .imgmap-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.bird-briefinfo-sec {
  border: 2px solid green;
  /* box-shadow: 0.5px 0.5px 20px green; */
  width: 80vw;
  margin: auto;
}
.bird-info-sec .scientific-info-sec {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.bird-info-sec .scientific-info-sec .node-sec {
  width: 15%;
}
.bird-info-sec .scientific-info-sec .biologoical-order-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.bird-info-sec .scientific-info-sec .biological-data-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.bird-info-sec .scientific-info-sec ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bird-info-sec .scientific-info-sec ul hr {
  width: 4px;
  height: 20px;
  background: green;
}

.scientific-info-sec .node-sec ul li {
  /* border: 2px solid blue; */
  width: fit-content;
}

.bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.scientific-info-sec .biologoical-order-sec h2 {
  font-size: 1.2rem;
  font-weight: 900;
}
.scientific-info-sec .biological-data-sec h2 {
  font-size: 1rem;
  font-weight: 900;
}

.bird-briefinfo-sec h2 {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  font-weight: 900;
  text-transform: capitalize;
}

.bird-briefinfo-sec p {
  font-size: 1rem;
  line-height: 25px;
  text-align: justify;
}

.stastics-sec {
  border: 2px solid blue;
  width: 80vw;
  margin: auto;
}

.stastics-sec .bar-chart {
  border: 2px solid yellow;
  width: 70vw;
  margin: auto;
}
.stastics-sec .map {
  width: 35vw;
  height: 35vw;
  margin: auto;
}

.stastics-sec .map .map-container {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.pipe {
  width: 6px;
  background: green;
  /* border-radius: 0px 0px 8px 8px; */
}
.pipe1 {
  height: 150px;
  margin-left: 15vw;
}
.pipe2,
.pipe3,
.pipe4 {
  height: 50px;
  margin-left: var(--birdInfoPipeWidth);
}

.pipe5 {
  height: 200px;
  margin-left: 15vw;
}
.pipe6 {
  height: 80px;
  margin-left: 15vw;
}

.pipe8 {
  margin-left: 15vw;
  height: 150px;
}

.pipe9 {
  margin-left: 5vw;
  height: 90px;
}

.pipe10 {
  margin-left: 5vw;
  height: 90px;
}

.allmedia-sec {
  border: 2px solid green;
  width: 80vw;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
}

.allmedia-sec h1 {
  font-family: 2rem;
  font-weight: 900;
  letter-spacing: -0.1px;
  margin-bottom: 10px;
}
.allmedia-sec .audio-sec {
  /* border: 2px solid red; */
  width: 70vw;
  margin: auto;
  /* padding: 30px; */
}

.allmedia-sec .audio-sec h2 {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  font-weight: 900;
  margin-bottom: 20px;
}

.allmedia-sec .audio-sec .grid {
  /* border: 2px solid rgb(27, 7, 144); */
  display: flex;
  overflow-x: scroll;
}
.allmedia-sec .photo-sec {
  /* border: 2px solid blue; */
  width: 70vw;
  margin: auto;
}

.allmedia-sec .photo-sec h2 {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  font-weight: 900;
  margin-bottom: 20px;
}

.allmedia-sec .photo-sec .grid {
  display: flex;
  overflow-x: scroll;
  /* border: 2px solid red; */
}

.allmedia-sec .video-sec {
  /* border: 2px solid red; */
  width: 70vw;
  margin: auto;
}
.allmedia-sec .video-sec h2 {
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  font-weight: 900;
  margin-bottom: 20px;
}
.allmedia-sec .video-sec .grid {
  display: flex;
  /* border: 2px solid red; */
}

@media screen and (max-width: 1500px) {
  .birds-moreinfo-container {
    /* border: 2px solid red; */
  }

  .bird-info-sec {
    /* border: 2px solid blue; */
  }

  .bird-info-sec .heading-sec {
    /* border: 2px solid green; */
  }

  .bird-info-sec .heading-sec h1 {
    font-size: 2rem;
  }

  .bird-info-sec .heading-sec h2 {
    font-size: 1.2rem;
  }

  .bird-info-sec .scientific-info-sec {
    height: 50%;
  }

  .bird-info-sec .scientific-info-sec {
    /* border: 2px solid green; */
  }

  .scientific-info-sec .biologoical-order-sec h2 {
    font-size: 0.9rem;
  }
  .scientific-info-sec .biological-data-sec h2 {
    font-size: 0.9rem;
  }
  .bird-info-sec .scientific-info-sec ul hr {
    width: 3px;
  }

  .bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
    height: 32px;
    width: 32px;
  }

  .bird-info-sec .scientific-info-sec .biologoical-order-sec {
    width: 25%;
  }
  .bird-info-sec .scientific-info-sec .biological-data-sec {
    width: 55%;
  }

  .bird-info-sec .bird-statistics-sec {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
  }
  .bird-info-sec .bird-statistics-sec .statastics-logo-sec {
    height: 50%;
    width: 40%;
  }
  .bird-statistics-sec .statastics-logo-sec i {
    font-size: 2.5rem;
  }
  .statastics-logo-sec span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .statastics-logo-sec span:nth-child(3) {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .bird-media-sec .subimage-sec {
    height: 180px;
    /* border: 2px solid red; */
  }

  .bird-media-sec .subimage-sec .image-sec {
    width: 24%;
    /* border: 2px solid blue; */
  }
  .bird-media-sec .subimage-sec .image-sec img {
    height: 100%;
  }
  .bird-media-sec .subimage-sec .image-sec span {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .pipe {
    width: 5px;
  }
  .pipe1 {
    height: 140px;
    margin-left: 15vw;
  }

  .bird-briefinfo-sec h2 {
    font-size: 1.5rem;
  }

  .bird-briefinfo-sec p {
    font-size: 1rem;
  }

  .pipe5 {
    height: 140px;
    margin-left: 15vw;
  }
  .pipe6 {
    height: 80px;
    margin-left: 15vw;
  }

  .pipe8 {
    margin-left: 15vw;
    height: 150px;
  }

  .pipe9 {
    margin-left: 5vw;
    height: 90px;
  }

  .pipe10 {
    margin-left: 5vw;
    height: 90px;
  }
}

@media screen and (max-width: 1450px) {
  /* body {
    background: rgb(6, 139, 6);
  } */

  .birds-moreinfo-container {
    /* border: 2px solid red; */
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100vw;
    height: 120vh;
  }

  .bird-media-sec {
    width: 100%;
    /* border: 2px solid rgb(106, 255, 0); */
    height: 30%;
  }

  .bird-media-sec .subimage-sec {
    display: none;
  }

  .bird-info-sec {
    width: 100%;
    height: 70%;
    padding: 0;
    /* border: 3px solid yellow; */
  }

  .bird-info-sec .heading-sec {
    height: fit-content;
    overflow: initial;
    padding: 20px;
    width: 100%;
    /* border: 2px solid red; */
  }

  .bird-info-sec .heading-sec h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .bird-info-sec .heading-sec h2 {
    font-size: 1.2rem;
  }

  .bird-info-sec .scientific-info-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */

    padding: 20px;
    height: 60%;
  }
  .bird-info-sec .scientific-info-sec .node-sec {
    width: 15%;
    /* 
    border: 2px solid black; */
  }
  .bird-info-sec .scientific-info-sec .biologoical-order-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    /* border: 2px solid blue; */
  }
  .bird-info-sec .scientific-info-sec .biological-data-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40%;
    /* border: 2px solid yellow; */
  }
  .bird-info-sec .scientific-info-sec ul {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bird-info-sec .scientific-info-sec ul hr {
    width: 4px;
    height: 20px;

    background: green;
  }

  .scientific-info-sec .node-sec ul li {
    /* border: 2px solid blue; */
    width: fit-content;
  }

  .bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;

    border: 2px solid green;
  }

  .scientific-info-sec .biologoical-order-sec h2 {
    font-size: 1rem;
    font-weight: 900;
  }
  .scientific-info-sec .biological-data-sec h2 {
    font-size: 0.9rem;
    font-weight: 900;
  }

  .bird-info-sec .bird-statistics-sec {
    /* background-color: rgb(38, 174, 174); */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

    height: 20%;
    padding: 20px;
    min-width: 100%;
    /* border: 2px solid orange; */
  }
  .bird-info-sec .bird-statistics-sec .statastics-logo-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;

    height: 100%;
    /* border: 2px solid red; */
  }
  .bird-statistics-sec .statastics-logo-sec i {
    font-size: 2.2rem;
  }
  .statastics-logo-sec span:nth-child(2) {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .statastics-logo-sec span:nth-child(3) {
    font-size: 1rem;
    font-weight: 500;
  }
}
