* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.birds-template-card .template-video-sec {
  position: relative;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}
.birds-template-card .text-sec h2 {
  font-size: 1.2rem;
  font-weight: 900;
}

.birds-template-card .text-sec p {
  font-size: 1rem;
  font-weight: 500;
}

.birds-template-card .template-video-sec video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.birds-template-card .video-sec button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
}

.videogallery-container .btn-sec button {
  align-self: flex-start;
  margin-top: 30px;
}
