* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.birds-moreinfo-container {
  /* border: 2px solid red; */
  display: flex;
  width: 80%;
  height: 80vh;
  margin: auto;
  margin-top: 50px;
}

.bird-info-sec {
  width: 30%;
  height: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bird-info-sec .heading-sec {
  /* background: red; */
  height: 20%;
  height: fit-content;
}
.bird-info-sec .heading-sec h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.bird-info-sec .heading-sec h2 {
  font-size: 1.5rem;
  font-family: "Edu TAS Beginner", cursive;
}

.bird-info-sec .scientific-info-sec {
  height: 55%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bird-info-sec .scientific-info-sec .node-sec {
  /* border: 2px solid red; */
  width: 15%;
}
.bird-info-sec .scientific-info-sec .biologoical-order-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}
.bird-info-sec .scientific-info-sec .biological-data-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.bird-info-sec .scientific-info-sec ul {
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bird-info-sec .scientific-info-sec ul hr {
  width: 4px;
  height: 20px;
  background: green;
}

.scientific-info-sec .node-sec ul li {
  /* border: 2px solid blue; */
  width: fit-content;
}

.bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.scientific-info-sec .biologoical-order-sec h2 {
  font-size: 1rem;
  font-weight: 900;
}
.scientific-info-sec .biological-data-sec h2 {
  font-size: 1rem;
  font-weight: 900;
}

.bird-info-sec .bird-statistics-sec {
  height: 15%;
  /* background-color: rgb(38, 174, 174); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bird-info-sec .bird-statistics-sec .statastics-logo-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  height: 50%;
}
.bird-statistics-sec .statastics-logo-sec i {
  font-size: 2.5rem;
}
.statastics-logo-sec span:nth-child(2) {
  font-size: 2rem;
  font-weight: 900;
}

.statastics-logo-sec span:nth-child(3) {
  font-size: 1rem;
  font-weight: 500;
}
.bird-media-sec {
  /* border: 2px solid green; */
  width: 70%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}

.banner-image {
  /* border: 5px solid rgb(246, 255, 0); */
  height: 100%;
}

.banner-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.bird-media-sec .subimage-sec {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.bird-media-sec .subimage-sec .image-sec {
  width: 24%;
  position: relative;
}
.bird-media-sec .subimage-sec .image-sec img {
  width: 100%;
  object-fit: cover;
}
.bird-media-sec .subimage-sec .image-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: 1;
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec span {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  /* border: 2px solid red; */
  text-transform: uppercase;
  z-index: 2;
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec .imgmap-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.bird-briefinfo-sec {
  border: 2px solid green;
  box-shadow: 0.5px 0.5px 20px green;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 30px;
}

.stastics-sec {
  border: 2px solid blue;
  width: 80vw;
  margin: auto;
}

.stastics-sec .bar-chart {
  border: 2px solid yellow;
  width: 70vw;
  margin: auto;
}
.stastics-sec .map {
  width: 35vw;
  height: 35vw;
  margin: auto;
}

.stastics-sec .map .map-container {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.pipe {
  width: 6px;
  background: green;
  border-radius: 0px 0px 8px 8px;
}

.pipe1 {
  height: 200px;
  margin-left: 20vw;
}
.pipe2 {
  height: 200px;
  margin-left: 15vw;
}
.pipe3 {
  height: 80px;
  margin-left: 15vw;
}
.pipe4 {
  height: 80px;
  margin-left: 15vw;
}
.pipe5 {
  height: 200px;
  margin-left: 15vw;
}
.pipe6 {
  height: 80px;
  margin-left: 15vw;
}
.allmedia-sec {
  border: 2px solid red;
  height: 50px;
  width: 80vw;
  margin: auto;
}

.allmedia-sec .photo-sec {
  border: 2px solid blue;
  width: 70vw;
  margin: auto;
}

.allmedia-sec .photo-sec .grid {
  display: flex;
  overflow-x: scroll;
}

.allmedia-sec .video-sec {
  border: 2px solid red;
  width: 70vw;
  margin: auto;
}
.allmedia-sec .video-sec .grid {
  display: flex;
}
