* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.birds-moreinfo-container {
  /* border: 2px solid red; */
  display: flex;
  width: 80%;
  height: 90vh;
  margin: auto;
  margin-top: 50px;
}

.bird-info-sec {
  /* border: 2px solid yellow; */
  width: 30%;
  height: 100%;
  padding: 0px 30px;
}

.bird-info-sec .heading-sec {
  /* background: red; */
  height: 20%;
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.bird-info-sec .heading-sec h1 {
  font-size: 3rem;
  font-weight: 900;
}

.bird-info-sec .heading-sec h2 {
  font-size: 1.1rem;
}

.bird-info-sec .scientific-info-sec {
  /* background-color: aqua; */
  height: 55%;
}

.bird-info-sec .scientific-info-sec ul {
  /* border: 2px solid black; */
  list-style: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bird-info-sec .scientific-info-sec ul hr {
  width: 4px;
  height: 20px;
  margin-left: 18px;
  background: green;
}

.bird-info-sec .scientific-info-sec ul li {
  display: flex;
  align-items: center;
  position: relative;
}

.bird-info-sec .scientific-info-sec ul li span:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.bird-info-sec .scientific-info-sec ul li span:nth-child(2) {
  text-transform: uppercase;
}

.bird-info-sec .bird-statistics-sec {
  height: 25%;
  /* background-color: rgb(38, 174, 174); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bird-info-sec .bird-statistics-sec .statastics-logo-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: fit-content;
  height: 50%;
}
.bird-statistics-sec .statastics-logo-sec i {
  font-size: 3rem;
}

.bird-statistics-sec .statastics-logo-sec span:nth-child(2) {
  font-size: 1.4rem;
}
.bird-media-sec {
  /* border: 2px solid green; */
  width: 70%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}

.banner-image {
  /* border: 5px solid rgb(246, 255, 0); */
  height: 100%;
}

.banner-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.bird-media-sec .subimage-sec {
  position: absolute;
  /* border: 4px solid blue; */
  width: 100%;
  height: 200px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.bird-media-sec .subimage-sec .image-sec {
  width: 24%;
  /* border: 2px solid red; */
  position: relative;
}
.bird-media-sec .subimage-sec .image-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  z-index: 1;
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec span {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background: black;
  color: rgb(255, 255, 255);
  text-align: center;
  /* border: 2px solid red; */
  text-transform: uppercase;
  z-index: 2;
  border-radius: 8px;
}
.bird-media-sec .subimage-sec .image-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
