:root {
  --font-family: "Poppins", sans-serif;
  --sec-heading-font-size: ;
  --paragraph-font-size: ;
  --card-subheading-font-size: ;
  --sec-subheading-font-size: ;
  --sec-heading-font-weight: ;
  --paragraph-heading-font-weight: ;
  --sec-heading-letter-spacing: ;
  --paragraph-letter-spacing: ;
  --card-subheading-letter-sapacing: ;
  --sec-subheading-letter-spacing: ;
  --sec-heading-line-spacing: ;
  --paragraph-line-spacing: ;
  --sec-subheading-line-spacing: ;
  --card-subheading-line-spacing: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.moreabout-text-sec {
  margin: auto;
  width: 60vw;
  padding: 60px 20px;
}
.moreabout-text-sec p,
li {
  font-size: var(--moreabout-paragraphfont-size);
  line-height: 28px;
  font-weight: var(--moreabout-paragraph-fontweight);
  letter-spacing: var(--moreabout-paragraphletter-spacing);
  text-align: justify;
}

.moreabout-text-sec h2 {
  font-size: var(--moreabout-headingfont-size);
  line-height: 28px;
  font-weight: var(--moreabout-headingfont-weight);
  letter-spacing: var(--moreabout-headingletter-spacing);
  margin-top: 25px;
  margin-bottom: 25px;
}

.moreabout-text-sec.number-list {
  list-style: decimal;
}

.moreabout-text-sec.number-list li {
  font-size: var(--moreabout-subheadingfont-size);
  line-height: 24px;
  font-weight: var(--moreabout-subheadingfont-weight);
  letter-spacing: var(--moreabout-subheadingletter-spacing);
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (max-width: 1200px) {
  .moreabout-text-sec {
    margin: auto;
    width: 80vw;
    padding: 60px 20px;
    border: 2px solid red;
  }
}
